<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ulti Sports</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/App/UltiSports.js"></script>
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ulti-Sports Hub</p>
        </footer>
    </div>

    <!-- Plus Ones Modal -->
    <div class="modal fade" id="addPlusOneModal" tabindex="-1" role="dialog" aria-labelledby="updateLocationDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="updateLocationDetailsModalLabel">Add Plus One</h4>
                </div>
                <div class="form_wrap">
                    <form id="PlusOneForm" data-bind="submit: $root.addPlusOne">
                        <div style="margin:5%">
                            <label id="AddPlusOneNameFormLabel">Plus One Name<em>*</em></label>
                            <div class="i">
                                <input id="modalEventIdHiddenInputBox" type="hidden" name="EventId">
                                <input id="modalPlusOneNameInputBox" type="text" placeholder="New Plus One Name..." name="Name">
                            </div>
                        </div>

                        <div class="clear modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/blockui")
    @Scripts.Render("~/bundles/timepicker")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/App")
    @Scripts.Render("~/bundles/require")
    @Scripts.Render("~/bundles/validate")

    <script src="~/Scripts/App/DAL/DAL.js"></script>
    <script src="~/Scripts/App/Settings.js"></script>
    <script src="~/Scripts/App/ErrorFeedback.js"></script>
    <script src="~/Scripts/App/InputValidation.js"></script>
    <script src="~/Scripts/App/DAL/ErrorFunctions.js"></script>
    <script src="~/Scripts/App/DAL/SuccessFunctions.js"></script>
    <script src="~/Scripts/App/DAL/Services/MessageService.js"></script>
    <script src="~/Scripts/App/DAL/Services/EMailService.js"></script>
    @RenderSection("scripts", required: true)
    <script>
        window.devURL = "http://localhost:29196/";
        window.deployURL = "http://josealw7x6530:8080/";
        window.deployIP = "http://10.58.12.75:8080";
        window.productionURL = devURL;
        window.usersUsername = '@User.Identity.Name';

        $.ajax({
            dataType: "json",
            url: window.productionURL + "user/getcurrentuser/",
            context: this,
            type: 'GET',
            statusCode: {
                200: function (result) {
                    window.currentSignedInUser = result;
                    if (!currentSignedInUser.IsAdmin) {
                        $('#adminNavOptions').toggle();
                    }
                    if (currentSignedInUser.Email == "") {
                        window.UltiSports.ErrorFeedback.WarnAbouhtHavingNoEMail();
                    }
                },
                400: function (result) {
                    alert(result.responseJSON)
                }
            }
        })

        $('#addPlusOneModal').submit(function (jQueryEvent) {
            jQueryEvent.preventDefault();
            var nameDidNotPassValidation = $('#modalPlusOneNameInputBox').hasClass("error")

            if (nameDidNotPassValidation) {
                $('#AddPlusOneNameFormLabel').removeClass("error")
                $('#modalPlusOneNameInputBox').focus();
                return;
            }

            var plusOneName = $('#modalPlusOneNameInputBox').val()
            var plusOneId = $('#modalEventIdHiddenInputBox').val()

            $('#addPlusOneModal').modal('hide');

            $.ajax({
                dataType: "json",
                url: window.productionURL + "/plusone/" + plusOneId + "?nameForPlusOne=" + plusOneName,
                context: this,
                type: 'POST',
                statusCode: {
                    200: function (result) {
                        var eventId = result.substring(31);

                        $.ajax({
                            dataType: "json",
                            url: window.productionURL + "/plusone/byeventid/" + eventId,
                            context: this,
                            type: 'GET'
                        }).success(function (result) {
                            // Here I am reconstructing the entire list of plusones for this event.
                            // Until I figure out a better way.
                            //this.listOfEvents()[0].plusones.removeAll()

                            for (var i = 0; i < window.viewModels.eventsViewModel.listOfEvents().length; i++) {
                                if (window.viewModels.eventsViewModel.listOfEvents()[i].eventId() == eventId) {
                                    window.viewModels.eventsViewModel.listOfEvents()[i].plusones.removeAll();

                                    for (var k = 0; k < result.length; k++) {
                                        window.viewModels.eventsViewModel.listOfEvents()[i].plusones.push(result[k])
                                    }
                                }
                            }


                        })
                    },
                    400: function (result) {
                        alert(result.responseJSON)
                    }
                }
            })

            $('#modalPlusOneNameInputBox').val("")
            $('#addPlusOneModal').modal('hide');
        })

        //******************* Side Nav Bar Scripts **********************************
        $('#ActivitiesMenu').click(function () {
            $('li[id^="ActivitiesSubMenu_"]').toggle();
        })

        $('#LocationsMenu').click(function () {
            $('li[id^="LocationsSubMenu_"]').toggle();
        })
        //***************************************************************************

        $(document).ready(function () {
            // Call event generation
            $.ajax({
                dataType: "json",
                url: window.productionURL + "/event/generate",
                context: this,
                type: 'GET',
                statusCode: {
                    200: function (result) {
                    },
                    400: function (result) {
                    }
                }
            })

            // Call user generation
            $.ajax({
                dataType: "json",
                url: window.productionURL + "/user/generate",
                context: this,
                type: 'GET',
                statusCode: {
                    200: function (result) {
                    },
                    400: function (result) {
                    }
                }
            })
        });
    </script>
</body>
</html>
