<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Ulti Sports</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ulti Sports", "Index", "Home", null, new { @class = "navbar-brand" })
                <ul class="nav navbar-nav">
                    <li><a style="display:inherit;" id="UpdateMailAddressLink" data-toggle="modal" data-target="#UpdateEmailModal">Update EMail Address</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">

            @Html.Partial("_SideNavBar")
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="UpdateEmailModal" tabindex="-1" role="dialog" aria-labelledby="updateLocationDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="updateEmailDetailsModalLabel">Update Email</h4>
                </div>
                <div style="margin:5%">
                    New EMail:<br /> <input id="modalUpdateEMailInputBox" type="text" name="Name"><br>
                </div>
                <div class="clear modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="UpdateEMailSaveButton" type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/blockui")
    @Scripts.Render("~/bundles/timepicker")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/App")
    @Scripts.Render("~/bundles/require")

    @RenderSection("scripts", required: true)
    <script>
        $('#UpdateEMailSaveButton').click(function () {
            //alert("update!")
            var newEmail = $('#modalUpdateEMailInputBox').val();

            $.ajax({
                dataType: "json",
                url: "http://localhost:29196/user/updateemail/?newEmail=" + newEmail,
                context: this,
                type: 'PUT',
                statusCode: {
                    200: function (result) {
                    },
                    400: function (result) {
                    }
                }
            })
        })

        //******************* Side Nav Bar Scripts **********************************
        $('#ActivitiesMenu').click(function () {
            $('li[id^="ActivitiesSubMenu_"]').toggle();
        })

        $('#LocationsMenu').click(function () {
            $('li[id^="LocationsSubMenu_"]').toggle();
        })
        //***************************************************************************
    </script>
</body>
</html>
